body{
    margin: 0;
 
}
.time-table-heading{
    background-color: lightseagreen;
    width: 100% ;
    line-height: 200px  ;

}
h1{
    color: black;
    font-size: 70px ;
    text-align: center;
}
h3{
    color: rgba(105, 105, 105, 0.849);
    font-size: 30px ;
    text-align: center;
}